################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Port11/bin/
/Port11/obj
/UnitTests/bin
/UnitTests/obj
/Settings/bin
/Settings/obj
